.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #30353d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #5bd7fa;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav{
  border: black solid 2px;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.span{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
}
.span>a{
 color:#98999e ;
 text-decoration: none;
}

.nav>h1{
 margin-left: 5%;
 color: white;
}
.nav>button{
  margin-right: 5%;
  width: 110px;
  height: 28px;
  border-radius: 100px;
  background-color:  #068ca3;
  color: white;
 }